<section data-ng-controller="PhoneDetailsController" data-ng-init="findOnePhone()">
<div class="phone-images">
  <img src="/public/articles/assets/{{phone.imageUrl}}"
       class="phone"/>
</div>
    <h1>{{phone.name}}</h1> 
    <p>{{phone.description}}</p>
    <p>{{phone.snippet}}</p>

    <h4> $ 400.00 <!--- or use {{phone.price}} --> </h4> 
    <a class="btn btn-success" href="" ng-click="add(phone)"> Add to Cart </a> 
    <a class="btn btn-primary" href="#!/phones"> other options </a>
    <a class="btn btn-primary" href="#!/cart"> view my cart ({{cartSize}}) </a> 

</section>
